<section class="section_layout207">
	<div class="padding-global">
		<div class="container-large">
			<div class="padding-section-large no-padding-bottom">
				<div class="layout207_component">
					<div class="w-layout-grid foto-features-component">
						<div
							id="w-node-_95a46cc3-dfca-3e88-b2bf-462ae0f7db77-7dd3ce54"
							class="layout207_image-wrapper">
							<img
								alt="Genskins"
								src="{{ 'Shop_pag01-1.png' | asset_url }}"
								loading="lazy"
								class="layout207_image">
						</div>
						<div
							id="w-node-_95a46cc3-dfca-3e88-b2bf-462ae0f7db79-7dd3ce54"
							class="layout207_content-right">
							<div class="layout207_item-list">
								<p class="feature-list-title text-style-italic">ESPINHA TRATADA EM 8H</p>
								<p class="features-list-text">Protege</p>
								<p class="features-list-text">Limpa</p>
								<p class="features-list-text"><span class="circled-text">Absorve</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
