<section class="section_layout194">
	<div class="padding-global">
		<div class="container-large">
			<div class="padding-section-large">
				<div class="layout194_component">
					<div class="w-layout-grid layout194_content">
						<div
							id="w-node-_60a73137-dfca-6047-a5ef-a24cbed600db-7dd3ce54"
							class="layout194_image-wrapper">
							<img
								alt="Genskins"
								src="{{ '62940a6d5d900f0159e4040037b740420fabf37f.jpg' | asset_url }}"
								loading="lazy"
								class="layout194_image">
						</div>
						<div
							id="w-node-_60a73137-dfca-6047-a5ef-a24cbed600dd-7dd3ce54"
							class="layout194_content-right">
							<h2 class="heading-product-destaque-azul">Adesivo secativo com <span class="light-text">CUIDADO</span> + <span class="light-text">CONFIANÇA</span> integrados.</h2>
							<div class="spacer-small"></div>
							<div class="features-wrapper">
								<div class="content-table-wrapper">
									<p class="text-table-col1">BOM PARA:</p>
									<p class="text-table-col2">Espinhas inflamadas, com pus e acne superficial.</p>
								</div>
								<div class="content-table-wrapper">
									<p class="text-table-col1">cheiro:</p>
									<p class="text-table-col2">Sem fragrância.</p>
								</div>
								<div class="content-table-wrapper">
									<p class="text-table-col1">TEXTURA:</p>
									<p class="text-table-col2">Leve e confortável.</p>
								</div>
								<div class="content-table-wrapper">
									<p class="text-table-col1">FYI:</p>
									<p class="text-table-col2">Vegano • Livre de óleo • Seguro para peles sensíveis.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
