<section class="secton_sobre_home">
	<div class="padding-global">
		<div class="container-large">
			<div class="padding-section-large">
				<div class="header19_component">
					<div class="w-layout-grid header19_content">
						<div class="header19_image-wrapper">
							<img
								alt="Foto ilustrativa sobre a GENSKINS"

								src="{{ 'foto-home-sobre.jpg' | asset_url }}"
								loading="eager"
								class="header19_image">
						</div>
						<div
							id="w-node-_1d5ae1a6-4b25-5d93-fb88-8931f1bd0ea2-5982b5ee"
							class="header19_content-right">
							<div class="text-rich-text-sobre-home w-richtext">
								<h2>
									Cuidado com a <br>
									pele do seu jeito.
								</h2>
								<p><strong>Autoestima é poder.</strong> Genskins une design e tecnologia para criar patches que realmente entregam resultado. Tratamento que também comunica <strong>quem você é.</strong></p>
								<p>Seu skincare vira acessório e faz parte do seu jeito de aparecer no mundo.</p>
							</div>
							<div class="spacer-medium"></div>
							<div class="button-group">
								<a
									href="#"
									class="button is-secondary wide w-button"
									>Sobre a GENSKINS</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
